// sass-lint:disable-block no-url-domains
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

// $csstricks-mono: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
//     'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono',
//     'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

$roboto: Roboto, sans-serif;

$fontstack-body: $roboto;
$fontstack-headings: $roboto;

$fontweight-light: 300;
$fontweight-normal: 400;
$fontweight-bold: 700;

$fontsize-xs: 12px;
$fontsize-small: 14px;
$fontsize-normal: 18px;
$fontsize-large: 24px;
$fontsize-xl: 48px;
$fontsize-xxl: 72px;

@mixin fontsize($base) {
    font-size: $base;
    line-height: $base * 1.35;
}
