.ButtonBar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        margin: 0.5em;
    }
}

.ButtonBar-right {
    @extend .ButtonBar;

    button:last-child {
        margin-right: 0;
    }
}

.ButtonBar-left {
    @extend .ButtonBar;

    justify-content: flex-start;

    button:first-child {
        margin-left: 0;
    }
}

.ButtonBar-center {
    @extend .ButtonBar;

    justify-content: center;
}
