.Button {
    align-items: center;
    background: transparent;
    border: none;
    color: #3632eb;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 200;
    justify-content: center;
    margin: 0;
    outline: none;
    padding: 0;
}
.Button i,
.Button svg {
    fill: #3632eb;
    height: 16px;
    margin: 0.5em;
    width: 16px;
}

.Button i:hover,
.Button svg:hover {
    color: #4e4cbd;
    fill: #4e4cbd;
}

.Button-disabled {
    color: #757474;
    cursor: default;
}
.Button-disabled svg {
    fill: #757474;
}

.Button-disabled:hover,
.Button-disabled:hover svg {
    color: #757474;

    fill: #757474;
}

/* .Button-primary {
        align-items: center;
        background: transparent;
        border: none;
        color: #3632eb;
        cursor: pointer;
        display: flex;
        font-size: 16px;
        font-weight: 200;
        justify-content: center;
        margin: 0;
        outline: none;
        padding: 0;

        background: $Button-primary-bg;
        border-radius: $Button-border-radius;
        color: $Button-primary-color;
        font-size: $Button-primary-fontsize;
        font-weight: $Button-primary-fontweight;
        padding: $Button-padding;

        svg {
            fill: $Button-primary-color;
        }

        &:hover {
            background: $Button-primary-bg-hover;
            color: $Button-primary-color;

            svg {
                fill: $Button-primary-color;
            }
        }
    }

    &-primary-disabled {
        @extend .Button-primary;

        background: $Button-primary-disabled-bg;
        color: $Button-primary-disabled-color;
        cursor: default;

        &:hover {
            background: $Button-primary-disabled-bg;
            color: $Button-primary-disabled-color;

            svg {
                fill: $Button-primary-disabled-color;
            }
        }
    }

    &-secondary {
        @extend .Button;

        border: $Button-secondary-border;
        border-radius: $Button-border-radius;
        color: $Button-secondary-color;
        padding: $Button-padding;

        svg {
            fill: $Button-secondary-color;
        }

        &:hover {
            border: $Button-secondary-border-hover;
            color: $Button-secondary-color-hover;

            svg {
                fill: $Button-secondary-color-hover;
            }
        }
    }

    &-secondary-disabled {
        @extend .Button-secondary;

        border: $Button-secondary-border-disabled;
        color: $Button-secondary-color-disabled;
        cursor: default;

        &:hover {
            border: $Button-secondary-border-disabled;
            color: $Button-secondary-color-disabled;

            svg {
                fill: $Button-secondary-color-disabled;
            }
        }
    }
} */
