@import 'assets/sass';

.XButton {
    align-items: center;
    background: $color-primary;
    border: none;
    border-radius: 500px;
    color: $color-white;
    cursor: default;
    display: flex;
    justify-content: center;
    margin: 0.25em;
    outline: none;
    padding: 0.5em 1em;

    svg {
        cursor: pointer;
        fill: $color-gray-95;
        height: 0.75em;
        margin-left: 0.5em;
        width: 0.75em;
    }

    svg:hover {
        background: $color-white 0.9;
        height: 1em;
        margin-left: 0.25em;
        width: 1em;
    }
}

.RadioPills {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    &__pill {
        margin: 0.5em;

        .Button {
            background: $color-primary-disabled;
            border: none;
            border-radius: 500px;
            color: $color-white;
            padding: 0.25em 1em;
        }
    }

    &__pill-selected {
        @extend .RadioPills__pill;

        .Button {
            background: $color-primary;
            border: none;
            color: $color-white;
        }
    }
}
