.Modal {
    align-items: center;
    background-color: #303030;
    bottom: 0;
    color: rgb(233, 233, 233);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
.Modal__box {
    align-items: center;
    background-color: #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 75%;
    max-width: 60%;
    min-height: 200px;
    min-width: 300px;
    padding: 1em;
}

.ModalTemplate {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.ModalTemplate__title {
    align-items: center;
    border-bottom: 1px solid #7f7f7f;
    display: flex;
    font-size: 24px;
    justify-content: center;
}

.ModalTemplate__title h1 {
    color: #2134db;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
    margin: 0.5em;
    padding: 0;
}

.Modal__content {
    flex: 1;
    overflow-y: auto;
    padding: 1em;
}

.Modal__close {
    border-top: 1px solid #2e20ad;
}
.Modal__close .Button-primary {
    margin: 1em;
}
