@import './sass/theme';
@import './sass/colors';

.App {
    text-align: center;

    &-header {
        align-items: center;
        background-color: $color-gray-20;
        color: $color-gray-87;
        display: flex;
        flex-direction: column;
        font-size: calc(10px + 2vmin);
        justify-content: center;
        min-height: 100vh;
    }

    &-link {
        color: $color-primary;
    }

    &-list {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
}
